<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{lang.adminSiteTitle}}</title>

    <!-- Core CSS - Include with every page -->
    <link href="{{ROOT_URL}}/assets/css/bootstrap.css" rel="stylesheet">

    <link href="{{ROOT_URL}}/assets/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- SB Admin CSS - Include with every page -->
    <link href="{{ROOT_URL}}/assets/css/sb-admin.css" rel="stylesheet">

    <!-- Page-Level Plugin CSS - Dashboard -->
    <link href="{{ROOT_URL}}/assets/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <link href="{{ROOT_URL}}/assets/css/plugins/timeline/timeline.css" rel="stylesheet">
    <link href="{{ROOT_URL}}/assets/css/datepicker.css" rel="stylesheet">
    <link href="{{ROOT_URL}}/assets/css/plugins/bootstrap-lightbox.min.css"></script>
    
    <!-- Core Scripts - Include with every page -->
    <script src="{{ROOT_URL}}/assets/js/jquery-1.10.2.js"></script>
    <script src="{{ROOT_URL}}/assets/js/bootstrap.min.js"></script>
    <script src="{{ROOT_URL}}/assets/js/plugins/metisMenu/jquery.metisMenu.js"></script>

    <!-- SB Admin Scripts - Include with every page -->
    <script src="{{ROOT_URL}}/assets/js/sb-admin.js"></script>

    <!-- Page-Level Plugin Scripts - Dashboard -->
    <script src="{{ROOT_URL}}/assets/js/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="{{ROOT_URL}}/assets/js/plugins/morris/morris.js"></script>

    <script src="{{ROOT_URL}}/assets/js/bootstrap-datepicker.js"></script>

<script type="text/javascript">

    var spikaClient = new SpikaClient('{{ROOT_URL}}/api');
    var loginedUser = {{ loginedUser|json_encode()|raw }};
    var templateNotificationRow = '<li><a href="javascript:%%javascript%%"><div><strong>%%messageType%%</strong></div><div>%%message%% <span class="text-danger">%%unreadnum%%</span></div></a></li>';

    
</script>

</head>

<body>

    <div id="wrapper">

        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ROOT_URL}}/admin/dashboard">{{lang.adminSiteTitle}}</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="{{ROOT_URL}}/client/main">{{lang.menuChatClient}}</a>
                        </li>
                        <li>
                            <a href="{{ROOT_URL}}/admin/user/edit/{{loginedUser._id}}">{{lang.menuEditProfile}}</a>
                        </li>
                        <li>
                            <a href="{{ROOT_URL}}/admin/logout"><i class="fa fa-sign-out fa-fw"></i>{{lang.btnLogout}}</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
                

            </ul>
            <!-- /.navbar-top-links -->

        </nav>
        <!-- /.navbar-static-top -->

        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="{{ROOT_URL}}/admin/dashboard"><i class="fa fa-dashboard fa-fw"></i> {{lang.menuDashboard}}</a>
                    </li>
                    <li>
                        <a href="{{ROOT_URL}}/admin/user/list"><i class="fa fa-user fa-fw"></i> {{lang.menuUser}}</a>
                    </li>
                    <li>
                        <a href="{{ROOT_URL}}/admin/group/list"><i class="fa fa-users fa-fw"></i> {{lang.menuGroups}}</a>
                    </li>
                    <li>
                        <a href="{{ROOT_URL}}/admin/news/list"><i class="fa fa-info fa-fw"></i> {{lang.menuNews}}</a>
                    </li>
                    
                    {% if isAdmin %}
                        <li>
                            <a href="{{ROOT_URL}}/admin/servers/list"><i class="fa fa-link fa-fw"></i> {{lang.menuServers}}</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> {{lang.menuSettings}}<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{{ROOT_URL}}/admin/groupcategory/list">{{lang.menuManageGroupCategory}}</a>
                                </li>
                                <li>
                                    <a href="{{ROOT_URL}}/admin/emoticon/list">{{lang.menuManageEmoji}}</a>
                                </li>
                                <!-- <li>
                                    <a href="buttons.html">{{lang.menuEditEULA}}</a>
                                </li> -->
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    
                    {% endif %}
                    
                </ul>
                <!-- /#side-menu -->
            </div>
            <!-- /.sidebar-collapse -->
        </nav>
        <!-- /.navbar-static-side -->

        <div id="page-wrapper" style="padding-bottom:30px">
            {% block content %}{% endblock %}
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


</body>

</html>
