<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{lang.adminSiteTitle}}</title>

    <!-- Core CSS - Include with every page -->
    <link href="{{ROOT_URL}}/assets/css/bootstrap.css" rel="stylesheet">

    <link href="{{ROOT_URL}}/assets/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- SB Admin CSS - Include with every page -->
    <link href="{{ROOT_URL}}/assets/css/sb-admin.css" rel="stylesheet">

    <!-- Page-Level Plugin CSS - Dashboard -->
    <link href="{{ROOT_URL}}/assets/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <link href="{{ROOT_URL}}/assets/css/plugins/timeline/timeline.css" rel="stylesheet">
    <link href="{{ROOT_URL}}/assets/css/datepicker.css" rel="stylesheet">
    <link href="{{ROOT_URL}}/assets/css/plugins/bootstrap-lightbox.min.css"></script>
    
    <!-- Core Scripts - Include with every page -->
    <script src="{{ROOT_URL}}/assets/js/jquery-1.10.2.js"></script>
    <script src="{{ROOT_URL}}/assets/js/bootstrap.min.js"></script>
    <script src="{{ROOT_URL}}/assets/js/plugins/metisMenu/jquery.metisMenu.js"></script>

    <!-- SB Admin Scripts - Include with every page -->
    <script src="{{ROOT_URL}}/assets/js/sb-admin.js"></script>

    <!-- Page-Level Plugin Scripts - Dashboard -->
    <script src="{{ROOT_URL}}/assets/js/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="{{ROOT_URL}}/assets/js/plugins/morris/morris.js"></script>

    <script src="{{ROOT_URL}}/assets/js/bootstrap-datepicker.js"></script>
    <script src="{{ROOT_URL}}/assets/js/spika-client.js"></script>
    <script src="{{ROOT_URL}}/assets/js/spika-chat-window.js"></script>

<script type="text/javascript">

    var spikaClient = new SpikaClient('{{ROOT_URL}}/api');
    var loginedUser = {{ loginedUser|json_encode()|raw }};
    var templateNotificationRow = '<li><a href="javascript:%%javascript%%"><div><strong>%%messageType%%</strong></div><div>%%message%% <span class="text-danger">%%unreadnum%%</span></div></a></li>';
    
    function loadActivitySummary(){
        
        spikaClient.getActivitySummary(function(data){
            
            parseActivityData(data);
            
            setTimeout(function(){loadActivitySummary()},3000);

        },function(errorString){

            if(errorString.match(/expired|invalid/i)){
                
                self.spikaClient.login(loginedUser.email,loginedUser.password,function(data){
                    
                    loginedUser = data;
                    spikaClient.setCurrentUser(loginedUser);
                    loadActivitySummary();
                
                },function(errorString){
                
                    console.log(errorString);

                });
                
            }
        
        });
        
    }
    
    function parseActivityData(data){
        
        var totalUnreadMessage = 0;
        
        var notificationData = [];
        
        if(data.rows[0].value.recent_activity != undefined){
            if(data.rows[0].value.recent_activity.direct_messages != undefined){
                var directMessages = data.rows[0].value.recent_activity.direct_messages.notifications;
                
                for(index in directMessages){
                    directMessageRow = directMessages[index];
                    totalUnreadMessage += (directMessageRow.count - 0);
                    
                    directMessageRow.type = 'directMessage';
                    notificationData.push(directMessageRow);
                }
            }
            
            if(data.rows[0].value.recent_activity.group_posts != undefined){
                var groupMessages = data.rows[0].value.recent_activity.group_posts.notifications;
                for(index in groupMessages){
                    groupMessageRow = groupMessages[index];
                    totalUnreadMessage += ( groupMessageRow.count - 0);

                    groupMessageRow.type = 'groupChat';
                    notificationData.push(groupMessageRow);
                }       
            }
        }

        $('#notificationButton').removeClass('btn-danger');
        $('#notificationButton').removeClass('btn-info');

        if(totalUnreadMessage > 0){
            
            $('#notificationButton').html(totalUnreadMessage);
            $('#notificationButton').addClass('btn-danger');
            
        }else{

            $('#notificationButton').html('<i class="fa fa-check"></i>');
            $('#notificationButton').addClass('btn-info');
           
        } 
        
        var html = "";
        
        for(index in notificationData){
            
            var notification = notificationData[index];
            var rowHtml = templateNotificationRow;
            
            if(notification.type == 'directMessage'){
                rowHtml = rowHtml.replace(/%%messageType%%/,'{{lang.notificationTypeMessage}}');
                rowHtml = rowHtml.replace(/%%javascript%%/,'openUserChat(' + notification.target_id + ')');
            }
            
            if(notification.type == 'groupChat'){
                rowHtml = rowHtml.replace(/%%messageType%%/,'{{lang.notificationTypeGroup}}');
                rowHtml = rowHtml.replace(/%%javascript%%/,'openGroupChat(' + notification.target_id + ')');
            }

            rowHtml = rowHtml.replace(/%%message%%/,notification.messages[0].message);
            
            if(notification.count > 0)
                rowHtml = rowHtml.replace(/%%unreadnum%%/,"(" + notification.count + ")");
            else
                rowHtml = rowHtml.replace(/%%unreadnum%%/,'');
            
            html += rowHtml;
        }
        
        $('#notificationList').html(html);
        
    }
    
    function openUserChat(userId){
    
        chatWindow = new SpikaChatWindow('{{ROOT_URL}}/api',loginedUser,{
            title:'{{lang.labelChatWindowTitle}}',
            conversationNotSelected:'{{lang.conversationNotSelected}}',
            btnReload:'{{lang.btnReload}}',
            openLocation:'{{lang.openLocation}}',
            chatTextBoxPlaceHolder:'{{lang.chatTextBoxPlaceHolder}}',
            chatTextBoxSend:'{{lang.chatTextBoxSend}}'
        },true,1);

        chatWindow.attach($('#chatWindow'));
        chatWindow.setUser(loginedUser);
        chatWindow.loadUserConversation(userId);
    }
    
    function openGroupChat(groupId){
    
        chatWindow = new SpikaChatWindow('{{ROOT_URL}}/api',loginedUser,{
            title:'{{lang.labelChatWindowTitle}}',
            conversationNotSelected:'{{lang.conversationNotSelected}}',
            btnReload:'{{lang.btnReload}}',
            openLocation:'{{lang.openLocation}}',
            chatTextBoxPlaceHolder:'{{lang.chatTextBoxPlaceHolder}}',
            chatTextBoxSend:'{{lang.chatTextBoxSend}}'
        },true,2);

        chatWindow.attach($('#chatWindow'));
        chatWindow.setUser(loginedUser);
        chatWindow.loadGroupConversation(groupId);
    }
    
    
    $(document).ready(function() {
        
        spikaClient.setCurrentUser(loginedUser);
        
        setTimeout(function(){loadActivitySummary()},3000);

    });
    
</script>

</head>

<body>

    <div id="wrapper">

        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ROOT_URL}}/admin/dashboard">{{lang.adminSiteTitle}}</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="{{ROOT_URL}}/admin/user/edit/{{loginedUser._id}}">{{lang.menuEditProfile}}</a>
                        </li>
                        <li>
                            <a href="{{ROOT_URL}}/admin/logout"><i class="fa fa-sign-out fa-fw"></i>{{lang.btnLogout}}</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
                
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <button id="notificationButton" type="button" class="btn btn-info btn-circle"><i class="fa fa-check"></i></button>
                    </a>
                    <ul id="notificationList" class="dropdown-menu dropdown-messages">

                    </ul>
                    <!-- /.dropdown-messages -->
                    
                </li>


            </ul>
            <!-- /.navbar-top-links -->

        </nav>
        <!-- /.navbar-static-top -->

        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="{{ROOT_URL}}/admin/dashboard"><i class="fa fa-dashboard fa-fw"></i> {{lang.menuDashboard}}</a>
                    </li>
                    <li>
                        <a href="{{ROOT_URL}}/admin/user/list"><i class="fa fa-user"></i> {{lang.menuUser}}</a>
                    </li>
                    <li>
                        <a href="{{ROOT_URL}}/admin/group/list"><i class="fa fa-users"></i> {{lang.menuGroups}}</a>
                    </li>
                    <li>
                        <a href="{{ROOT_URL}}/admin/news/list"><i class="fa fa-info"></i> {{lang.menuNews}}</a>
                    </li>
                    
                    {% if isAdmin %}
                    
                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> {{lang.menuSettings}}<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{{ROOT_URL}}/admin/groupcategory/list">{{lang.menuManageGroupCategory}}</a>
                                </li>
                                <li>
                                    <a href="{{ROOT_URL}}/admin/emoticon/list">{{lang.menuManageEmoji}}</a>
                                </li>
                                <!-- <li>
                                    <a href="buttons.html">{{lang.menuEditEULA}}</a>
                                </li> -->
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    
                    {% endif %}
                    
                </ul>
                <!-- /#side-menu -->
            </div>
            <!-- /.sidebar-collapse -->
        </nav>
        <!-- /.navbar-static-side -->

        <div id="page-wrapper" style="padding-bottom:30px">
            {% block content %}{% endblock %}
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


</body>

</html>
