{% extends "admin/adminBase.twig" %}

{% block content %}

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        {% if mode == 'new' %}
                            {{lang.labelAddGroupCategory}}
                        {% elseif mode == 'view' %}
                            {{lang.labelViewGroupCategory}}
                        {% elseif mode == 'edit' %}
                            {{lang.labelEditGroupCategory}}
                        {% endif %}                    
                    </h1>
                </div>
            </div>
             
            <div class="row">
                <div class="col-lg-12">
                    
                    {% include "admin/alerts.twig" %}
                    
                    {% if mode == 'edit' %}
                        <form role="form" method="post" action="{{ROOT_URL}}/admin/groupcategory/edit/{{id}}" enctype="multipart/form-data">
                    {% else %}
                        <form role="form" method="post" action="{{ROOT_URL}}/admin/groupcategory/add" enctype="multipart/form-data">
                    {% endif %}

                        {% if mode == 'view' or mode == 'edit' %}
                        
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    {{lang.labelpicture}}
                                </div>
                                <div class="panel-body">                                    
                                    {% if formValues.avatar_file_id != '' %}
                                        <img class="img-thumbnail" src="{{ROOT_URL}}/api/filedownloader?file={{formValues.avatar_file_id}}"/>
                                    {% else %}
                                        <img class="img-thumbnail" src="http://dummyimage.com/640x640/e2e2e2/7a7a7a&text=nopicture"/>
                                    {% endif %}
                                </div>
                            </div>
                        
                        {% endif %}
                        

                        {% if mode == 'edit' %}
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="chkbox_delete_picture" value="1">
                                    {{lang.labelDeletePicture}}
                                </label>
                            </div>
                        {% endif %}

                        <div class="form-group">
                            <label>{{lang.formGroupName}}</label>
                                {% if mode == 'new' or mode == 'edit' %}<span class="text-danger">{{lang.noteRequired}}</span>{% endif %}
                            
                            {% if mode == 'new' or mode == 'edit'%}
                                <input class="form-control" name="title" value="{{formValues.title}}">
                            {% else %}
                                <div class="well">{{formValues.title}}</div>
                            {% endif %}
                            
                        </div>
                        
                        {% if mode == 'new' or mode == 'edit' %}
                            <div class="form-group">
                                <label>{{lang.formGroupCategoryAvatar}}</label>
                                <input type="file" name="file">
                            </div>
                        {% endif %}

                        {% if mode == 'view'%}
                            <div class="form-group">
                                <label>{{lang.labelCreated}}</label>
                                <div class="well">{{formValues.created|date('Y.m.d H:i:s')}}</div>
                            </div>
                            <div class="form-group">
                                <label>{{lang.labelModified}}</label>
                                <div class="well">{{formValues.modified|date('Y.m.d H:i:s')}}</div>
                            </div>
                        {% endif %}
                        
                        {% if mode == 'new' or mode == 'edit' %}
                            <button type="submit" class="btn btn-primary btn-lg btn-block">{{lang.btnSave}}</button>
                        {% else %}

                        {% endif %}
                        
                    </form>
                    
                </div>
                

            </div>
             
</script>
       
{% endblock %}
