{% extends "admin/adminBase.twig" %}

{% block content %}

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{{lang.labelGroupCategory}} <a href="add" class="btn btn-primary btn-lg">{{lang.btnNewGroupCategory}}</a></h1>
                </div>
            </div>

             <div class="row">
                <div class="col-lg-12">
                     {% include "admin/alerts.twig" %}
                </div>
            </div>
                    
           <div class="row">
                <div class="col-lg-12">
                    
                    <div style="text-align:right">
                        {% include "admin/pager.twig" %}
                    </div>
                    
                    <table class="table table-striped">
                        
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>{{lang.formGroupCategoryAvatar}}</th>
                                <th>{{lang.formGroupCategoryName}}</th>
                                <th>{{lang.labelCreated}}</th>
                                <th>{{lang.labelModified}}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        
                            {% for category in categories %}

                                <tr>
                                    <td>{{category.value._id}}</td>
                                    <td>
                                        {% if category.value.avatar_file_id != '' %}
                                            <img class="img-thumbnail" src="{{ROOT_URL}}/api/filedownloader?file={{category.value.avatar_file_id}}" width="60"/>
                                        {% else %}
                                            <img class="img-thumbnail" src="http://dummyimage.com/60x60/e2e2e2/7a7a7a&text=nopicture" width="60"/>
                                            
                                        {% endif %}
                                    </td>
                                    <td>{{category.value.title}}</td>
                                    <td>{{category.value.created}}</td>
                                    <td>{{category.value.modified}}</td>
                                    <td>
                                        
                                        <a href="{{ROOT_URL}}/admin/groupcategory/view/{{category.value._id}}" class="btn btn-primary">
                                            <i class="fa fa-search"></i> {{lang.labelView}}
                                        </a>
                                        
                                        <a href="{{ROOT_URL}}/admin/groupcategory/edit/{{category.value._id}}" class="btn btn-success">
                                            <i class="fa fa-pencil-square-o"></i> {{lang.labelEdit}}
                                        </a>
                                        
                                        <a href="{{ROOT_URL}}/admin/groupcategory/delete/{{category.value._id}}" class="btn btn-danger">
                                            <i class="fa fa-eraser"></i> {{lang.labelDelete}}
                                        </a>
                                        
                                    </td>
                                </tr>

                            {% endfor %}

                        </tbody>
                    </table>

                    <div style="text-align:right">
                        {% include "admin/pager.twig" %}
                    </div>

                </div>

            </div>
                         
{% endblock %}
