{% extends "admin/adminBase.twig" %}

{% block content %}

<script type="text/javascript">

    var loginedUser = {{ loginedUser|json_encode()|raw }};
    var lastUserId = 0;
    
    function openChat(groupId){
        console.log(groupId);
        chatWindow.initialize();
        chatWindow.loadGroupConversation(groupId);
    }
    
    var chatWindow = null;
    
    $(document).ready(function() {
        
        $('#chatbox').height($('#list').height());
        
        chatWindow = new SpikaChatWindow('{{ROOT_URL}}/api',loginedUser,{
            title:'{{lang.labelChatWindowTitle}}',
            conversationNotSelected:'{{lang.conversationNotSelected}}',
            btnReload:'{{lang.btnReload}}',
            openLocation:'{{lang.openLocation}}',
            chatTextBoxPlaceHolder:'{{lang.chatTextBoxPlaceHolder}}',
            chatTextBoxSend:'{{lang.chatTextBoxSend}}'
        },true,2);

        chatWindow.attach($('#chatWindow'));
        chatWindow.showAlert('{{lang.conversationNotSelected}}');
        chatWindow.setUser(loginedUser);
        
    });
    
</script>

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{{lang.labelServers}} 
                    {% if isAdmin %}
                        <a href="add" class="btn btn-primary btn-lg">{{lang.btnNewServer}}</a></h1>
                    {% endif %}
                </div>
            </div>

             <div class="row">
                <div class="col-lg-12">
                     {% include "admin/alerts.twig" %}
                </div>
            </div>
                    
           <div class="row">
                <div id="list" class="col-lg-12" style="min-height:500px">
                    
                    <div style="text-align:right">
                        {% include "admin/pager.twig" %}
                    </div>
                    
                    <table class="table table-striped">
                        
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>{{lang.formServerName}}</th>
                                <th>{{lang.formServerUrl}}</th>
                                <th>{{lang.formServerCreated}}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        
                            {% for server in servers %}

                                <tr>
                                    <td>{{server._id}}</td>
                                    <td>{{server.name}}</td>
                                    <td>{{server.url}}</td>
                                    <td>{{server.created}}</td>
                                    <td>
                                        
                                        <div class="btn-group text-left" >
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                {{lang.labelAction}} <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    <a href="{{ROOT_URL}}/admin/servers/view/{{server._id}}">
                                                        <i class="fa fa-search"></i> {{lang.labelView}}
                                                    </a>
                                                </li>
                                                
                                                {% if isAdmin %}
                                                    <li>
                                                        <a href="{{ROOT_URL}}/admin/servers/edit/{{server._id}}">
                                                            <i class="fa fa-pencil-square-o"></i> {{lang.labelEdit}}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="{{ROOT_URL}}/admin/servers/delete/{{server._id}}">
                                                            <i class="fa fa-eraser"></i> {{lang.labelDelete}}
                                                        </a>
                                                    </li>
                                                {% endif %}
                                                
                                            </ul>
                                        </div>

                                    </td>
                                </tr>

                            {% endfor %}

                        </tbody>
                    </table>

                    <div style="text-align:right">
                        {% include "admin/pager.twig" %}
                    </div>

                </div>

            </div>
                         
{% endblock %}
