{% extends "admin/adminBase.twig" %}

{% block content %}

<script type="text/javascript">

    var loginedUser = {{ loginedUser|json_encode()|raw }};

    function openChat(userId){
        chatWindow.initialize();
        chatWindow.loadUserConversation(userId);
    }
    
    var chatWindow = null;
    
    $(document).ready(function() {
        
        $('#chatbox').height($('#list').height());
        
        chatWindow = new SpikaChatWindow('{{ROOT_URL}}/api',loginedUser,{
            title:'{{lang.labelChatWindowTitle}}',
            conversationNotSelected:'{{lang.conversationNotSelected}}',
            btnReload:'{{lang.btnReload}}',
            openLocation:'{{lang.openLocation}}',
            chatTextBoxPlaceHolder:'{{lang.chatTextBoxPlaceHolder}}',
            chatTextBoxSend:'{{lang.chatTextBoxSend}}'
        },true,1);

        chatWindow.attach($('#chatWindow'));
        chatWindow.showAlert('{{lang.conversationNotSelected}}');
        chatWindow.setUser(loginedUser);
        
    });
    
</script>

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{{lang.labelUser}} <a href="add" class="btn btn-primary btn-lg">{{lang.btnNewUser}}</a></h1>
                </div>
            </div>

             <div class="row">
                <div class="col-lg-12">
                     {% include "admin/alerts.twig" %}
                </div>
            </div>
                    
           <div class="row">
                <div class="col-lg-8">
                    
                    <div style="text-align:right">
                        {% include "admin/pager.twig" %}
                    </div>
                    
                    <table class="table table-striped">
                        
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>{{lang.formUserAvatar}}</th>
                                <th>{{lang.formUserName}}</th>
                                <th>{{lang.labelCreated}}</th>
                                <th width="300px"></th>
                            </tr>
                        </thead>
                        <tbody>
                        
                            {% for user in users %}

                                <tr>
                                    <td>{{user.value._id}}</td>
                                    <td>
                                        {% if user.value.avatar_thumb_file_id != '' %}
                                            <img class="img-thumbnail" src="{{ROOT_URL}}/api/filedownloader?file={{user.value.avatar_thumb_file_id}}" width="60"/>
                                        {% else %}
                                            <img class="img-thumbnail" src="http://dummyimage.com/60x60/e2e2e2/7a7a7a&text=nopicture" width="60"/>
                                            
                                        {% endif %}
                                    </td>
                                    <td>{{user.value.name}}</td>
                                    <td>{{user.value.created}}</td>
                                    <td>
                                        
                                        <a href="{{ROOT_URL}}/admin/user/view/{{user.value._id}}" class="btn btn-primary">
                                            <i class="fa fa-search"></i> {{lang.labelView}}
                                        </a>
                                        
                                        <a href="{{ROOT_URL}}/admin/user/edit/{{user.value._id}}" class="btn btn-success">
                                            <i class="fa fa-pencil-square-o"></i> {{lang.labelEdit}}
                                        </a>
                                        
                                        <a href="{{ROOT_URL}}/admin/user/delete/{{user.value._id}}" class="btn btn-danger">
                                            <i class="fa fa-eraser"></i> {{lang.labelDelete}}
                                        </a>
                                        
                                        <div style="margin-top:5px">
                                            
                                            <a href="{{ROOT_URL}}/admin/user/conversation/{{user.value._id}}" class="btn btn-primary">
                                                <i class="fa fa-comments-o"></i> {{lang.labelConversation}}
                                            </a>
                                            <a href="javascript:openChat({{user.value._id}})" class="btn btn-primary">
                                                <i class="fa fa-comment-o"></i> {{lang.labelStartChat}}
                                            </a>
                                        
                                        </div>
                                        
                                    </td>
                                </tr>

                            {% endfor %}

                        </tbody>
                    </table>

                    <div style="text-align:right">
                        {% include "admin/pager.twig" %}
                    </div>

                </div>

                <div id="chatWindow" class="col-lg-4">
                    
                </div>

            </div>
                         
{% endblock %}
