{% extends "admin/adminBase.twig" %}

{% block content %}

<script type="text/javascript">
    
    var loginAttempCount = 0;
    
    function openChat(from_user_id,to_user_id){
        
        var request = $.ajax({
            url: '{{ROOT_URL}}/api/userMessages/' + to_user_id + '/30/0',
            type: "GET",
        });
        
        request.done(function( data ) {
            alert(data);
        });
        
        request.fail(function( jqXHR, textStatus ) {
            var resoonseText = jqXHR.responseText;;
            
            if(resoonseText.match(/expired/)){
                
                // login
                alert('token expired');
                
                var requestLogin = $.ajax({
                    url: '{{ROOT_URL}}/api/auth',
                    type: "POST",
                });
                
            }
            
        });


        
    }
    
    $(document).ready(function() {
        
        $('#chatbox').height($('#list').height());       
    });
    
</script>

{{ debug(user) }}
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        {{lang.labelConversation}}
                    </h1>
                </div>
            </div>

             <div class="row">
                <div class="col-lg-12">
                     {% include "admin/alerts.twig" %}
                </div>
            </div>
                    
           <div class="row" >
                <div id="list" class="col-lg-8" style="min-height:800px">
                    
                    <div style="text-align:right">
                        {% include "admin/pager.twig" %}
                    </div>
                    
                    <table class="table table-striped">
                        
                        <thead>
                            <tr>
                                <th width="5%">{{lang.labelMessageTarget}}</th>
                                <th width="20%"></th>
                                <th width="45%">{{lang.labelMessageContent}}</th>
                                <th width="20%">{{lang.labelCreated}}</th>
                                <th width="10%"></th>
                            </tr>
                        </thead>
                        <tbody>
                        
                            {% for conversation in conversations %}

                                <tr>
                                    <td>
                                        {% if conversation.to_user_id != 0 %}
                                            <span type="button" class="btn btn-outline btn-primary btn-xs">
                                                <i class="fa fa-user"></i>
                                            </span>
                                        {% elseif conversation.to_group_id != 0 %}
                                            <span type="button" class="btn btn-outline btn-primary btn-xs">
                                                <i class="fa fa-users"></i>
                                            </span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if conversation.to_user_id != 0 %}
                                            {{conversation.to_user_name}}
                                        {% elseif conversation.to_group_id != 0 %}
                                            {{conversation.to_group_name}}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{conversation.body}}
                                    </td>
                                    <td>{{conversation.created}}</td>
                                    <td>
                                        <a href="javascript:openChat({{conversation.from_user_id}},{{conversation.to_user_id}})" class="btn btn-primary">
                                            <i class="fa fa-comments"></i> {{lang.labelOpenWall}}
                                        </a>
                                    </td>
                                </tr>

                            {% endfor %}

                        </tbody>
                    </table>

                    <div style="text-align:right">
                        {% include "admin/pager.twig" %}
                    </div>

                </div>
                
                <div class="col-lg-4">
                    
                    <div class="alert alert-danger alert-dismissable">
                        {{lang.conversationNotSelected}}
                    </div>
                    
                    <div id="chatbox" class="chat-panel panel panel-default" style="overflow-y: scroll">
                        <div class="panel-heading">
                            <i class="fa fa-comments fa-fw"></i>
                            Chat
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="chat">
                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">Jack Sparrow</strong> 
                                            <small class="pull-right text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 12 mins ago
                                            </small>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="right clearfix">
                                    <span class="chat-img pull-right">
                                        <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <small class=" text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 13 mins ago</small>
                                            <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">Jack Sparrow</strong> 
                                            <small class="pull-right text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 14 mins ago</small>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="right clearfix">
                                    <span class="chat-img pull-right">
                                        <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <small class=" text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 15 mins ago</small>
                                            <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- /.panel .chat-panel -->
                </div>
            </div>
                         
{% endblock %}
