                        <ul class="pagination">
                            
                            {% set nextPage = pager.page + 1 %}
                            {% set prevPage = pager.page - 1 %}
                            
                            {% if prevPage < 1 %}
                                {% set prevPage = 1 %}
                            {% endif %}
                            
                            {% if nextPage >= pager.pageCount + 1 %}
                                {% set nextPage = pager.pageCount + 1%}
                            {% endif %}
                            
                            
                            <li><a href="{{pager.baseURL}}{{ prevPage }}">&laquo;</a></li>

                            {% for pageNum in range(0,pager.pageCount) %}
                                <li {%if pager.page - 1 == pageNum %}class="active"{% endif %}>
                                    <a href="{{pager.baseURL}}{{ pageNum + 1}}">{{ pageNum + 1}}</a>
                                </li>
                            {% endfor %}
                            
                            <li><a href="{{pager.baseURL}}{{ nextPage }}">&raquo;</a></li>
                            
                        </ul>
