<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{lang.clientSiteTitle}}</title>

    <!-- Core CSS - Include with every page -->
    <link href="{{ROOT_URL}}/assets/css/bootstrap.css" rel="stylesheet">

    <link href="{{ROOT_URL}}/assets/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- SB Admin CSS - Include with every page -->
    <link href="{{ROOT_URL}}/assets/css/sb-admin.css" rel="stylesheet">

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{lang.labelResetPassword}}</h3>
                    </div>
                    <div class="panel-body">
                        
                        {% include "admin/alerts.twig" %}
                            
                        <form role="form" method="post" action="{{ROOT_URL}}/client/resetPassword">
                            <fieldset>

                                <div class="form-group">
                                    <input class="form-control" placeholder="{{lang.formEmailPlaceHolder}}" name="email" type="email" value="{{formValues.email}}">
                                </div>
                                
                                <input type="submit" name="reset" class="btn btn-lg btn-success btn-block" value="{{lang.btnResetPassword}}"/>
                                <input type="submit" name="login" class="btn btn-lg btn-primary btn-block" value="{{lang.btnLogin}}"/>

                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Core Scripts - Include with every page -->
    <script src="{{ROOT_URL}}/assets/js/jquery-1.10.2.js"></script>
    <script src="{{ROOT_URL}}/assets/js/bootstrap.min.js"></script>
    <script src="{{ROOT_URL}}/assets/js/plugins/metisMenu/jquery.metisMenu.js"></script>

    <!-- SB Admin Scripts - Include with every page -->
    <script src="{{ROOT_URL}}/assets/js/sb-admin.js"></script>

</body>

</html>
