					{% if pager.pageCount > 0 %}
                        <ul class="pagination">
                            
                            {% set nextPage = pager.page + 1 %}
                            {% set prevPage = pager.page - 1 %}
                            
                            {% if prevPage >= 1 %}
                                <li><a href="{{pager.baseURL}}{{ prevPage }}">&laquo;</a></li>
                            {% else %}
                            	<li class="disabled"><a href="#">&laquo;</a></li>
                            {% endif %}
                            
                            {% for pageNum in range(0,pager.pageCount) %}
                                <li {%if pager.page - 1 == pageNum %}class="active"{% endif %}>
                                    <a href="{{pager.baseURL}}{{ pageNum + 1}}">{{ pageNum + 1}}</a>
                                </li>
                            {% endfor %}
                            
                            {% if nextPage > pager.pageCount + 1 %}
                                <li class="disabled"><a href="#">&raquo;</a></li>
                            {% else %}
                            	<li><a href="{{pager.baseURL}}{{ nextPage }}">&raquo;</a></li>
                            {% endif %}
                            
                        </ul>
                    {% endif %}
