<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{lang.labelNews}}</title>

    <!-- Core CSS - Include with every page -->
    <link href="{{ROOT_URL}}/assets/css/bootstrap.css" rel="stylesheet">

    <link href="{{ROOT_URL}}/assets/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- SB Device CSS - Include with every page -->
    <link href="{{ROOT_URL}}/assets/css/sb-device.css" rel="stylesheet">
        
    <script type="text/javascript">
        function gotoStory(id){
            window.location = "{{ROOT_URL}}/api/webview/news/view/"+id;
        }
        function gotoLink(link){
            window.location = link;
        }
    </script>

</head>

<body>
    <div id="wrapper">
        {% block content %}{% endblock %}
    </div>
</body>
</html>