<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{lang.labelNews}}</title>

    <!-- Core CSS - Include with every page -->
    <link href="{{ROOT_URL}}/assets/css/bootstrap.css" rel="stylesheet">

    <link href="{{ROOT_URL}}/assets/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- SB Device CSS - Include with every page -->
    <link href="{{ROOT_URL}}/assets/css/sb-device.css" rel="stylesheet">
        
    <script type="text/javascript">
        function gotoStory(id, page){
            window.location = "{{ROOT_URL}}/api/webview/news/view/"+id+"?list_page="+page;
        }
        function backToList(page){
            window.location = "{{ROOT_URL}}/api/webview/news/list?page="+page;
        }
        function backToInfo(token){
            window.location = "{{ROOT_URL}}/page/information/"+token;
        }
        function gotoLink(link, id, page){
            if(link.indexOf("http") != -1){
                window.location = link;
                return;
            }
            window.location = "{{ROOT_URL}}/api/webview/news/view/"+id+"?list_page="+page;
        }
    </script>

    <!-- Core Scripts - Include with every page -->
    <script src="{{ROOT_URL}}/assets/js/jquery-1.10.2.js"></script>
    <script src="{{ROOT_URL}}/assets/js/bootstrap.min.js"></script>

</head>

<body>
    <div id="wrapper">
        {% block content %}{% endblock %}
    </div>
</body>
</html>